<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <organizationRegisterApi baseUrl="#{UI.WebApiBaseUrl}" xdt:Transform="SetAttributes" />
  
  <accessTokenService
    url="#{AuthenticationServer.AccessTokenServiceUrl}"
    clientId="#{UI.AccessTokenServiceClientId}"
    clientSecret="#{UI.AccessTokenServiceClientSecret}"
    scope="#{UI.AccessTokenServiceScope}"
    xdt:Transform="Replace" />

  <appSettings>
    <add key="useExternalLogin" value="#{UI.UseExternalLogin}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="externalLoginPage" value="#{UI.ExternalLoginPage}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <log4net>
    <appender name="TextFileLogger" xdt:Locator="Match(name)">
      <file value="#{UI.LogFilePath}" xdt:Transform="SetAttributes" />
    </appender>
  </log4net>

  <system.webServer>
    #{UI.UrlRewriteConfigBlock}
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>