<article>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                
                <h1>Käyttäjät</h1>

                <div class="help-text">
                    <p>
                        Käyttäjät-osiossa organisaation pääkäyttäjä voi ylläpitää oman organisaationsa TPR-perheen käyttäjätietoja.
                    </p>
                </div>
                <div class="button-row">
                    <div class="left">
                        <a href="#/Organizations/{{ controller.organizationId }}/NewUser" class="button" id="addNewUserButton">Lisää käyttäjä</a>
                    </div>
                </div>

                <div class="organization-landing">
                    
                    <div>

                        <div class="row">
                            <div class="col-xs-6">

                                <p class="services-sum">
                                    Valittu organisaatio: <strong>{{ controller.selectedOrganizationName }}</strong>
                                </p>

                                <div class="ui-tree-container2">
                                    <treecontrol id="organizationTree" class="tree-light"
                                                 data-tree-model="controller.organizationHiearchy.value"
                                                 data-on-selection="controller.toggleOrganisationSelection(node.id, selected)"
                                                 order-by="name" filter-comparator="false">
                                        {{node.name}}
                                    </treecontrol>
                                </div>
                            </div>

                            <div class="col-xs-6">

                                <p>
                                    Organisaation käyttäjät <strong>{{ controller.userCount }}</strong> kpl
                                </p>

                                <table id="userList" class="content-table common-descriptions">
                                    <tbody>
                                    <tr>
                                        <th>Nimi</th>
                                        <th>Sähköposti</th>
                                        <th>Rooli</th>
                                        <!--<th>Organisaatio</th>-->
                                    </tr>
                                    <tr data-ng-repeat="user in controller.model | orderBy: 'fullName'">
                                        <td id="userName">
                                            
                                           

                                            <a href="#/Organizations/{{ controller.organizationId }}/internalusers/{{ user.id }}">{{ user.lastName }} {{ user.firstName }}</a>
                                        </td>

                                        <td id="userEmail">{{ user.emailAddress }}</td>
                                        <td id="userRole">{{ user.role.name }}</td>
                                        <!--<td id="userOrganization">{{ user.organization.name }}</td>-->
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</article>
