
<!-- TODO: fix element positions before/after affecto-help-popup icon -->

<div class="row">
    
    <div class="col-xs-4">
        <label>
            Organisaatiotyyppi*
            <affecto-help-popup paragraphs='["Valitse valikosta organisaatiotyyppi, jota organisaatiosi edustaa. Mikäli valitset organisaatiotyypiksi \"Kunta\", tulee sinun syöttää erilliseen kenttään myös kuntasi kuntanumero."]'/>
        </label>
        <select id="organizationType" class="form-control" data-ng-model="controller.model.typeProperty"
                data-ng-options="pt for pt in controller.organizationTypes" data-ng-required="true"></select>
    </div>

    <div class="col-xs-2">
        <label>
            {{ controller.editBusinessIdentifierLabel }}
            <affecto-help-popup paragraphs='["Kirjota kenttään organisaatiosi Y-tunnus. Jos et muista sitä, voit hakea Y-tunnuksen <a href=\"https://www.ytj.fi/yrityshaku.aspx?path=1547;1631;1678&kielikoodi=1\" target=\"_blank\">Yritys- ja yhteisötietojärjestelmästä (YTJ).</a>",
                                "Tarkista oman organisaatiosi Y-tunnuksen käytön käytäntö: Joillain organisaatioilla on vain yksi yhteinen Y-tunnus, toisilla myös alaorganisaatioilla on omat Y-tunnuksensa. Varmista, että annat alaorganisaatiolle oikean Y-tunnuksen."]' />
        </label>
        <input id="organizationBusinessId" type="text" class="form-control" name="businessId" maxlength="9" data-ng-model="controller.model.businessId"
               data-ng-required="!controller.isSubOrganization()" data-ng-blur="controller.validateBusinessId()" />
       
    </div>

    <div class="col-xs-2" id="organizationTypeDiv" style="margin-top:3px"  data-ng-show="controller.model.isMunicipality()"> 
        <label class="mandatory-field">Kunnan numero</label>
        <input id="organizationMunicipalityCode" type="number" class="form-control" name="municipalityCode" maxlength="3" min="1" placeholder="Kuntanumero"
               data-ng-model="controller.model.municipalityCode" data-ng-required="controller.model.isMunicipality()"/>
        <div aria-live="polite" class="validation-message" data-ng-show="controller.basicInformationForm.municipalityCode.$error.maxlength">
            Kuntanumero on yhdestä kolmeen numeroa
        </div>
    </div>
    
    
    <div class="col-xs-4" style="margin-top:3px"> 
        <label>Tiedot voidaan viedä palvelutietovarantoon (PTV)</label>
        <input id="canBeTransferredToFsc" type="checkbox" class="form-control" name="canBeTransferredToFsc" 
               data-ng-model="controller.model.canBeTransferredToFsc" />
    </div>

</div>

<div class="row">
    <div class="col-xs-8">
        <label>
            Nimi*
            <affecto-help-popup paragraphs='["Kirjoita kenttään organisaation virallinen nimi. Kirjoita nimi auki, älä käytä lyhenteitä."]' />
        </label>

        <div data-ng-repeat="name in controller.model.names">
            <p>
                <input type="text" class="form-control" data-ng-required="name.isRequired" data-ng-model="name.localizedValue" maxlength="100" ng-attr-placeholder="{{name.localizedTitle}}" />
            </p>
        </div>
    </div>

    <div class="col-xs-4">
        <label>
            Nimen lyhenne
        </label>
        <div data-ng-repeat="abbreviation in controller.model.nameAbbreviations">
            <p>
                <input type="text" class="form-control" data-ng-required="abbreviation.isRequired" data-ng-model="abbreviation.localizedValue" maxlength="100" ng-attr-placeholder="{{abbreviation.localizedTitle}}" />
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>
            Kuvaus
            <affecto-help-popup paragraphs='["Kirjoita organisaatiolle lyhyt, käyttäjäystävällinen kuvaus. Mikä tämä (ala)organisaatio on ja mitä se tekee organisaation palveluita käyttävän asiakkaan näkökulmasta? Alä mainosta vaan kuvaa neutraalisti organisaation ydintehtävä. Kuvaus saa olla korkeintaan 4000 merkkiä pitkä."]' />
        </label>
        <div data-ng-repeat="desc in controller.model.descriptions">
            <p>
                <textarea id="organizationDescription" name="organizationDescription" data-ng-maxlength="4000" class="form-control" data-ng-model="desc.localizedValue" data-ng-required="desc.isRequired" ng-attr-placeholder="{{desc.localizedTitle}}"></textarea>
            </p>
            <p aria-live="polite" class="validation-message" data-ng-show="controller.basicInformationForm.organizationDescription.$error.maxlength">Kuvauksen maksimipituus on 4000 merkkiä</p>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-xs-3">
        <label>
            Voimassaolo alkaa
        </label>
        <input id="organizationValidFrom" type="text" class="form-control" name="validFrom" data-ng-model="controller.model.validFromDate" data-ng-blur="controller.validateValidity()"
               data-uib-datepicker-popup="dd.MM.yyyy" data-is-open="controller.isValidFromCalendarShown" data-show-button-bar="false"
               data-datepicker-options="{'startingDay': 1, 'formatDayTitle': 'MM yyyy'}" data-ng-click="controller.showValidFromCalendar()" />
        <div id="organizationValidityErrorMessage" aria-live="polite" class="validation-message" data-ng-show="!controller.validValidity">
            Voimassaolo ei voi alkaa sen päättymisen jälkeen
        </div>
    </div>
    <div class="col-xs-3">
        <label>
            Voimassaolo päättyy
        </label>
        <input id="organizationValidTo" type="text" class="form-control" name="validTo" data-ng-model="controller.model.validToDate" data-ng-blur="controller.validateValidity()"
               data-uib-datepicker-popup="dd.MM.yyyy" data-is-open="controller.isValidToCalendarShown" data-show-button-bar="false"
               data-datepicker-options="{'startingDay': 1, 'formatDayTitle': 'MM yyyy'}" data-ng-click="controller.showValidToCalendar()" />
    </div>
    
    <div class="col-xs-3 col-xs-offset-2" style="margin-top:-4px">
        <label>
            OID
            <affecto-help-popup paragraphs='["Jos omalla organisaatiollasi tai toimialallasi on käytössä oma organisaatio-OID-luokitus (tällainen on olemassa esimerkiksi sote-sektorilla), kirjoita tähän tämän luokituksen mukainen organisaatio-OID."]' />
        </label>
        <input id="organizationOid" type="text" class="form-control" maxlength="100" data-ng-model="controller.model.oid" />
    </div>

</div>







