<div class="id-not-active">
    <strong>ID:</strong> {{ controller.model.numericId }}
</div>
<div class="row">
    <div class="col-xs-3">
        <label>Organisaatiotyyppi</label>
        {{ controller.model.type }}
    </div>
    <div class="col-xs-3">
        <label>Y-tunnus</label>
        {{ controller.model.businessId }}
    </div>
    <div class="col-xs-3">
        <label>Kunnan numero</label>
        {{ controller.model.municipalityCode }}
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>Nimi</label>
        
        <div data-ng-repeat="name in controller.model.names">
            <p>
                <span>{{ name.localizedValue }}</span>
            </p>
        </div>
    </div>

    <div class="col-xs-6">
        <label>Nimen lyhenne</label>

        <div data-ng-repeat="abbreviation in controller.model.nameAbbreviations">
            <p>
                <span>{{ abbreviation.localizedValue }}</span>
            </p>
        </div>

    </div>
   
</div>
<div class="row">
    <label>Kuvaus</label>
    
    <div data-ng-repeat="desc in controller.model.descriptionsAsHtml">
        <p>
            {{ desc.localizedValue }}
        </p>
    </div>

</div>
<div class="row">
    <div class="col-xs-6">
        <label>OID</label>
        {{ controller.model.oid }}
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>Voimassaolo alkaa</label>
        <span>{{ controller.model.validFromText }}</span>
    </div>
    <div class="col-xs-6">
        <label>Voimassaolo päättyy</label>
        {{ controller.model.validToText }}
    </div>
</div>
