<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="requireHttps" value="#{API.RequireHttps}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  #{API.AuthenticationServerConfigSection}
  
  <log4net>
    <appender name="TextFileLogger" xdt:Locator="Match(name)">
      <file value="#{API.LogFilePath}" xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>

  <postgreSql xdt:Transform="Replace">
    <schemas>
      <schema key="OrganizationRegisterContext" value="#{API.OrganizationRegisterDbSchemaName}" />
      <schema key="IdentityManagementDbContext" value="#{IdentityManagement.DbSchemaName}" />
    </schemas>
  </postgreSql>

  <connectionStrings xdt:Transform="Replace">
    <add name="OrganizationRegisterContext" connectionString="#{API.OrganizationRegisterDbConnectionString}" providerName="Npgsql" />
    <add name="IdentityManagementDbContext" connectionString="#{IdentityManagement.DbConnectionString}" providerName="Npgsql" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>